body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 0 auto;
  width: 500px;
}
.container form {
  margin-top: 40px;
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 20px;
}
label input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.4;
  color: #555555;
  background-color: #fff;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin: 5px 0 0 0;
}
label input:focus {
  border-color: #3c8dbc;
  box-shadow: none;
  outline: 0;
}

.btn {
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.4;
  transition: 0.3s;
}
.btn:hover {
  background-color: #5fa4cc;
}
.btn:focus, .btn:active, .btn:active:focus {
  box-shadow: none;
  outline: 0;
  border-color: #23536f;
}

.btn-primary {
  color: #fff;
  background-color: #3c8dbc;
  border-color: #307095;
}

/*# sourceMappingURL=styles.css.map */
