
$color-primary: #3c8dbc;
$color-primary-border: darken($color-primary, 10%);
$light: #fff;

$input-text-color: #555555;
$input-outline-color :#3c8dbc;

$border-color: #ccc;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 0 auto;
  width: 500px;

  form {
    margin-top: 40px;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid $border-color;
    border-radius: 5px;
  }
}

label {
  display: block;
  margin-bottom: 20px;

  input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.4;
    color: $input-text-color;
    background-color: $light;
    border: 1px solid $border-color;
    box-sizing: border-box;
    margin: 5px 0 0 0;

    &:focus {
      border-color: $input-outline-color;
      box-shadow: none;
      outline: 0;
    }
  }
}

.btn {
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.4;
  transition: 0.3s;

  &:hover {
    background-color: lighten($color-primary, 10%);
  }

  &:focus, &:active, &:active:focus {
    box-shadow: none;
    outline: 0;
    border-color: darken($color-primary-border, 10%);
  }
}

.btn-primary {
  color: $light;
  background-color: $color-primary;
  border-color: $color-primary-border;
}
